@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll 20s linear infinite;
  display: flex;
  width: 100%;
  white-space: nowrap;
}
.features {
  scroll-behavior: smooth;
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #1a73e8;
}
.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #bb86fc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

.theme-toggle-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px 16px;
  cursor: pointer;
}

.theme-toggle-btn:hover {
  background-color: #e0e0e0;
}
